.welcome {
  display: flex;
  justify-content: center;
}

.parent-div {
  height: 70vh;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.display-case {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 5px solid #333;
}

.button-holder {
  display: flex;
  justify-content: space-around;
}

.all-buttons {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  margin: 10px;
  border: 3px transparent #333;
}

.marvin-choice {
  color: #e65100;
}
.scorebox-holder {
  margin: 10px;
  width: 40%;
  border: 5px solid #333;
}
